<% layout('/layouts/boilerplate.ejs') %>


<div class="row">
        <div class="text-wrap col-6 offset-3 alert alert-danger" role="alert">
            <%= err.message %>, status-code: <%= err.statusCode %>  
            <h2>for development purposes only:</h2>
            <p class="text-break"><%= err.stack %></p>
    </div>
</div>
